/** {
	background-color: rgba(255,0,0,0.1);
}*/

body { 
	font-family: 'Montserrat', Verdana, sans-serif; 
	color: #999; 
	background-color: #fff; 
	margin: 0;
}

html, body {
  margin:0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
.container { 
	display: flex; 
	width: auto; 
	max-width: 54em;
	margin: 0 auto; 
	padding: 1em 0;
	flex-wrap: wrap;
}
.container-fluid {
	width: 100%;

}
.main-nav {
	border-bottom: 1px dotted #CCC;
}

header.container {
	max-width: 59em;
	padding: 2em 1em;
}
header {
	display: flex;
	align-items: center;
	padding: 0 1.5em;
}
header h1 { 
	font-size: 1.25em; 
	margin: 0;
	line-height: 1.5em;
}
header h2 {
	font-size: .825em;
	text-transform: uppercase;
	color: #555;
	margin: 0;

}
header h2 span {
	color: #E4701E;
}
.logo {
	margin: 0 1em 0 0;
	height: 3em;
	width: 3em;
}

.summary h3, .summary p {
	padding: 0 1em;
}
h3 {
	font-size: 1.5em;
	width: 100%;
}
p { 
	font-family: 'Noto Serif', Georgia, sans-serif; font-weight: 300; 
	color: #666; 
	font-size: 1.375em; 
	line-height: 1.725em; 
	margin: 0.875em 0;
	width: 100%;
}
a { 
	text-decoration: none; 
	color: #666;
	border-bottom: 2px dotted #E4701E;
}
a:hover {
	color: #E4701E;
}



.projects ul { 
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	justify-content: flex-start; 
	list-style: none;
	margin: 0; padding: 0;
}

.project { 
	margin: 1.5em; 
	width: 15em;
}

.project a {
	border-bottom: none;
}

img.project-thumbnail {
	height: 15em; width: 15em;
	border: 1px solid rgba(0,0,0,.1);
	-webkit-filter: grayscale(100%);
	-webkit-transition: .2s ease-in-out; /* Chrome, Safari, Opera */
	filter: grayscale(100%);
	transition: .2s ease-in-out; 
}

img.project-thumbnail:hover { 
	-webkit-filter: grayscale(0%);
	-webkit-transition: .2s ease-in-out; /* Chrome, Safari, Opera */
	filter: grayscale(0%); 
	transition: .2s ease-in-out;
}		

.project h4 {
	font-size: 1.125em; 
	color: #999; 
	margin: 1em 0 .25em 0; 
}
.project-label { 
	font-size: .75em; 
	font-style: italic; 
	margin: 0; 
	line-height: 1.5em;
}



/* @media (width: 20em) { 
.container { width: 18em; }
}
@media (min-width: 54em) {
.container { }
}*/

